@import "tailwindcss";

:root {
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}





html {
  scroll-behavior: smooth; 
  
  scroll-padding-top: 5rem;
}